@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primaryFont: "Lora", serif;
    --secondaryFont: "Roboto", sans-serif;
    
    --menuFontSize: 1.3rem;
    --bodyTextSize: 1rem;
    
    --textDark: #000000;
    --textLight: #ffffff;
    
    --primaryBg: #293160;
    --lightBg: #ffffff;
    --menuBg: #455a7d;
    --accentColor: #d4bc6e;
    --secondaryBg: #fff8e8;
    --secondaryAccent: #662728;
    --tertiaryColor: #7a87e9;
    --linkColor: #2c32de;
}
